In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('042768256_Brigham-and-Womens-Faulkner-Hospital_StandardCharges.csv',encoding='latin-1')
df.head(5)

,description,code|1,code|1|type,code|2,code|2|type,code|3,code|3|type,code|4,code|4|type,setting,...,plan_name,modifiers,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|min,standard_charge|max,standard_charge|methodology,additional_generic_notes
0,Xr T-Spine 4+ Views,PX-32000062,CDM,72074,CPT,320.0,RC,NaN,NaN,inpatient,...,WELLSENSE SCO MEDICARE REPLACEMENT [100311],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,GELATIN ABSORBABLE MUCOSAL POWDER,RX-28017,CDM,25009999,HCPCS,250.0,RC,00009-0433-04,NDC,inpatient,...,MASSHEALTH COMMUNITY CARE COOPERATIVE C3 ACO [...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,CLOMIPRAMINE 25 MG CAPSULE,RX-9635,CDM,25009999,HCPCS,250.0,RC,68084-0790-95,NDC,outpatient,...,TUFTS PUBLIC PLANS ATRIUS HEALTH ACO [101308],NaN,NaN,NaN,NaN,35.49,NaN,NaN,other,APC grouping requires price history; No contra...
3,FLUCONAZOLE 100 MG TABLET,RX-10044,CDM,25009999,HCPCS,250.0,RC,16714-0691-01,NDC,outpatient,...,TUFTS PUBLIC PLANS ATRIUS HEALTH ACO [101308],NaN,NaN,NaN,NaN,2.66,NaN,NaN,other,APC grouping requires price history; No contra...
4,SPINAL SPACER 30X9X16MM LUMBAR TRANSFORAMINAL ...,SUP-336603,CDM,C1889,HCPCS,278.0,RC,NaN,NaN,outpatient,...,UNITED APWU SHARED SERVICES [101629],NaN,NaN,75.83,NaN,3033.20,NaN,NaN,percent of total billed charges,NaN

In [5]:
df.isnull().sum()

description                                    0
code|1                                         0
code|1|type                                    0
code|2                                     60912
code|2|type                                60912
code|3                                     42119
code|3|type                                42119
code|4                                    763733
code|4|type                               763733
setting                                        0
drug_unit_of_measurement                  761907
drug_type_of_measurement                  761907
standard_charge|gross                         26
standard_charge|discounted_cash            49244
payer_name                                     0
plan_name                                      0
modifiers                                1047525
standard_charge|negotiated_dollar         927602
standard_charge|negotiated_percentage     876102
standard_charge|negotiated_algorithm      988665
estimated_amount                          612982
standard_charge|min                       819448
standard_charge|max                       819448
standard_charge|methodology               614775
additional_generic_notes                  900586
dtype: int64

In [6]:
df.drop('additional_generic_notes', axis=1, inplace= True)
df.drop('setting', axis=1, inplace= True)
df.drop(['drug_unit_of_measurement','drug_type_of_measurement','modifiers'],axis=1, inplace= True )

In [7]:
df['code|2|type'].unique()

array(['CPT', 'HCPCS', nan, 'LOCAL'], dtype=object)

In [9]:
df['code|3|type'].unique()

array(['RC', nan], dtype=object)

In [11]:
df['code|4|type'].unique()

array([nan, 'NDC'], dtype=object)

In [12]:
df['code|1|type'].unique()

array(['CDM', 'MS-DRG'], dtype=object)

In [18]:
# Filter rows where 'code|2|type' is 'CPT'
df_cpt = df[df['code|2|type'] == "CPT"]

In [20]:
df_cpt['code|2|type'].unique()

array(['CPT'], dtype=object)

In [22]:
df_cpt['code|4|type'].unique()

array([nan], dtype=object)

In [24]:
df_cpt.drop(['code|1','code|1|type','code|3','code|3|type','code|4','code|4|type'],axis =1, inplace = True)

/var/folders/g3/b5mpjpwd5sn18c6qpr7zgl440000gn/T/ipykernel_3501/3874404987.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cpt.drop(['code|1','code|1|type','code|3','code|3|type','code|4','code|4|type'],axis =1, inplace = True)

In [26]:
df_cpt

,description,code|2,code|2|type,standard_charge|gross,standard_charge|discounted_cash,payer_name,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|min,standard_charge|max,standard_charge|methodology
0,Xr T-Spine 4+ Views,72074,CPT,571.0,428.25,WELLSENSE [1003],WELLSENSE SCO MEDICARE REPLACEMENT [100311],NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Trh Stimulation Panel 1 Hr,80438,CPT,600.0,450.00,TUFTS HEALTH PUBLIC PLANS [1013],TUFTS PUBLIC PLANS ONE CARE MEDICARE REPLACEME...,NaN,NaN,NaN,600.00,69.15,199.44,other
18,Colposcopy W/Bx Vulva,56821,CPT,620.0,465.00,VETERANS ADMINISTRATION [160006],VETERANS ADMINISTRATION OF RI [16000602],NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Transfer Gamete/Zygote/Embryo,58976,CPT,1041.0,780.75,BLUE CROSS BLUE SHIELD [110001],BLUE CROSS MA MEDICARE PPO BLUE REPLACEMENT [1...,NaN,NaN,NaN,1041.00,1968.00,2088.00,other
27,St Aud Pure Tone Audiometry Auto Ai,0208T,CPT,111.0,83.25,CIGNA [1006],CIGNA PPO MEDICARE REPLACEMENT [100616],NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1048558,Rhytidectomy Cheek/Chin/and Neck,15828,CPT,7787.0,5840.25,WELLPOINT [1015],WELLPOINT GIC TOTAL CHOICE INDEMNITY [101501],NaN,78.76,NaN,6133.04,1968.00,2088.00,percent of total billed charges
1048563,Phlebectomy 1 Ext 10-20 Incisions,37765,CPT,5404.0,4053.00,WELLSENSE [1003],WELLSENSE SCO MEDICARE REPLACEMENT [100311],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048568,Repair Aneur Abd Iliac,35102,CPT,45573.0,34179.75,AETNA [1001],AETNA HMO MEDICARE REPLACEMENT [100109],NaN,NaN,NaN,45573.00,NaN,NaN,other
1048569,Nwh Gene Dx Sbds Gene Sequencing,81479,CPT,2060.0,1545.00,INTERNATIONAL COMMERCIAL [140001],GMMI [14000118],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1048570,Auto Bone Marrw Cell Rx Comp W/O Bone Mar Harvst,0264T,CPT,1247.0,935.25,MEDICARE [2001],MEDICARE RAILROAD [200105],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_cpt = df_cpt.drop_duplicates(keep=False)

In [30]:
df_cpt.reset_index()

,index,description,code|2,code|2|type,standard_charge|gross,standard_charge|discounted_cash,payer_name,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|min,standard_charge|max,standard_charge|methodology
0,0,Xr T-Spine 4+ Views,72074,CPT,571.0,428.25,WELLSENSE [1003],WELLSENSE SCO MEDICARE REPLACEMENT [100311],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,8,Trh Stimulation Panel 1 Hr,80438,CPT,600.0,450.00,TUFTS HEALTH PUBLIC PLANS [1013],TUFTS PUBLIC PLANS ONE CARE MEDICARE REPLACEME...,NaN,NaN,NaN,600.00,69.15,199.44,other
2,18,Colposcopy W/Bx Vulva,56821,CPT,620.0,465.00,VETERANS ADMINISTRATION [160006],VETERANS ADMINISTRATION OF RI [16000602],NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,Transfer Gamete/Zygote/Embryo,58976,CPT,1041.0,780.75,BLUE CROSS BLUE SHIELD [110001],BLUE CROSS MA MEDICARE PPO BLUE REPLACEMENT [1...,NaN,NaN,NaN,1041.00,1968.00,2088.00,other
4,27,St Aud Pure Tone Audiometry Auto Ai,0208T,CPT,111.0,83.25,CIGNA [1006],CIGNA PPO MEDICARE REPLACEMENT [100616],NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
334219,1048558,Rhytidectomy Cheek/Chin/and Neck,15828,CPT,7787.0,5840.25,WELLPOINT [1015],WELLPOINT GIC TOTAL CHOICE INDEMNITY [101501],NaN,78.76,NaN,6133.04,1968.00,2088.00,percent of total billed charges
334220,1048563,Phlebectomy 1 Ext 10-20 Incisions,37765,CPT,5404.0,4053.00,WELLSENSE [1003],WELLSENSE SCO MEDICARE REPLACEMENT [100311],NaN,NaN,NaN,NaN,NaN,NaN,NaN
334221,1048568,Repair Aneur Abd Iliac,35102,CPT,45573.0,34179.75,AETNA [1001],AETNA HMO MEDICARE REPLACEMENT [100109],NaN,NaN,NaN,45573.00,NaN,NaN,other
334222,1048569,Nwh Gene Dx Sbds Gene Sequencing,81479,CPT,2060.0,1545.00,INTERNATIONAL COMMERCIAL [140001],GMMI [14000118],NaN,NaN,NaN,NaN,NaN,NaN,NaN
334223,1048570,Auto Bone Marrw Cell Rx Comp W/O Bone Mar Harvst,0264T,CPT,1247.0,935.25,MEDICARE [2001],MEDICARE RAILROAD [200105],NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df_cpt[df_cpt.duplicated()]

Empty DataFrame
Columns: [description, code|2, code|2|type, standard_charge|gross, standard_charge|discounted_cash, payer_name, plan_name, standard_charge|negotiated_dollar, standard_charge|negotiated_percentage, standard_charge|negotiated_algorithm, estimated_amount, standard_charge|min, standard_charge|max, standard_charge|methodology]
Index: []

In [34]:
df_cpt.isnull().sum()

description                                   0
code|2                                        0
code|2|type                                   0
standard_charge|gross                        26
standard_charge|discounted_cash             316
payer_name                                    0
plan_name                                     0
standard_charge|negotiated_dollar        253448
standard_charge|negotiated_percentage    320464
standard_charge|negotiated_algorithm     315851
estimated_amount                         171735
standard_charge|min                      187284
standard_charge|max                      187284
standard_charge|methodology              171735
dtype: int64

In [37]:
df_cpt.to_csv('experiment-Brigham-and-Womens-Faulkner-Hospital.csv', index=False)

In [38]:
df_cpt.info()

<class 'pandas.core.frame.DataFrame'>
Index: 334224 entries, 0 to 1048570
Data columns (total 14 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   description                            334224 non-null  object
 1   code|2                                 334224 non-null  object
 2   code|2|type                            334224 non-null  object
 3   standard_charge|gross                  334198 non-null  float64
 4   standard_charge|discounted_cash        333908 non-null  float64
 5   payer_name                             334224 non-null  object
 6   plan_name                              334224 non-null  object
 7   standard_charge|negotiated_dollar      80776 non-null   float64
 8   standard_charge|negotiated_percentage  13760 non-null   float64
 9   standard_charge|negotiated_algorithm   18373 non-null   object
 10  estimated_amount                       162489 non-null  float64
 11  standard_charge|min                    146940 non-null  float64
 12  standard_charge|max                    146940 non-null  float64
 13  standard_charge|methodology            162489 non-null  object
dtypes: float64(7), object(7)
memory usage: 38.2+ MB

In [41]:
df_cpt = df_cpt.dropna(subset=['standard_charge|gross', 'standard_charge|discounted_cash','standard_charge|negotiated_dollar', 'estimated_amount', 'standard_charge|min', 'standard_charge|max'])

In [43]:
df_cpt.shape

(80724, 14)

In [50]:
import pymysql
import pandas as pd
import numpy as np

# Establish MySQL Connection
conn = pymysql.connect(host="localhost", user="root", password="ABCabc@23", database="health1")
cursor = conn.cursor()

# Create table if not exists
create_table_query = """
CREATE TABLE IF NOT EXISTS hospital_charges_BWFH (
    description TEXT,
    code_2 VARCHAR(255),
    code_2_type VARCHAR(255),
    standard_charge_gross FLOAT,
    standard_charge_discounted_cash FLOAT,
    payer_name VARCHAR(255),
    plan_name VARCHAR(255),
    standard_charge_negotiated_dollar FLOAT,
    standard_charge_negotiated_percentage FLOAT,
    standard_charge_negotiated_algorithm TEXT,
    estimated_amount FLOAT,
    standard_charge_min FLOAT,
    standard_charge_max FLOAT,
    standard_charge_methodology TEXT
);
"""
cursor.execute(create_table_query)
conn.commit()
print("Table created successfully!")

# Column Mapping for Consistency
column_mapping = {
    'code|2': 'code_2',
    'code|2|type': 'code_2_type',
    'standard_charge|gross': 'standard_charge_gross',
    'standard_charge|discounted_cash': 'standard_charge_discounted_cash',
    'standard_charge|negotiated_dollar': 'standard_charge_negotiated_dollar',
    'standard_charge|negotiated_percentage': 'standard_charge_negotiated_percentage',
    'standard_charge|negotiated_algorithm': 'standard_charge_negotiated_algorithm',
    'standard_charge|min': 'standard_charge_min',
    'standard_charge|max': 'standard_charge_max',
    'standard_charge|methodology': 'standard_charge_methodology'
}

# Rename DataFrame Columns
df_cpt = df_cpt.rename(columns=column_mapping)

# Select Required Columns
required_columns = [
    'description', 'code_2', 'code_2_type', 'standard_charge_gross',
    'standard_charge_discounted_cash', 'payer_name', 'plan_name',
    'standard_charge_negotiated_dollar', 'standard_charge_negotiated_percentage',
    'standard_charge_negotiated_algorithm', 'estimated_amount',
    'standard_charge_min', 'standard_charge_max', 'standard_charge_methodology'
]
df_cpt = df_cpt[required_columns]

# Convert NaN to None for MySQL NULL compatibility
df_cpt = df_cpt.replace({np.nan: None})

# Prepare SQL INSERT Query
column_names = ", ".join([f"`{col}`" for col in required_columns])
placeholders = ", ".join(["%s"] * len(required_columns))
insert_query = f"INSERT INTO hospital_charges_BWFH ({column_names}) VALUES ({placeholders})"

# Insert Data in Batches
batch_size = 81301
data_to_insert = df_cpt.itertuples(index=False, name=None)

for i in range(0, len(df_cpt), batch_size):
    batch = list(data_to_insert)[i:i + batch_size]
    cursor.executemany(insert_query, batch)

# Commit Transaction
conn.commit()
print("Data inserted successfully!")

# Close Connection
cursor.close()
conn.close()

Table created successfully!
Data inserted successfully!

In [68]:
df_cpt1 = pd.read_csv('MI HFW CPT.csv',encoding='latin-1')
df_cpt1.head(5)

,description,code_2,code_2_type,setting,standard_charge|gross,standard_charge|discounted_cash,payer_name,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|methodology,standard_charge|min,standard_charge|max
0,PROTHROMBIN TIME-MIXING,85610,CPT,OUTPATIENT,25.00,11.25,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,5.38,6.31
1,PROTHROMBIN TIME,85610,CPT,OUTPATIENT,4.85,2.18,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,0.00,0.00
2,PROTIME LUPUS PANEL,85610,CPT,OUTPATIENT,5.82,2.62,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,5.38,5.38
3,BLOOD DRAW FEE,36415,CPT,OUTPATIENT,23.00,10.35,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,3.19,4.69
4,HOME DRAW SINGLE,36415,CPT,OUTPATIENT,23.00,10.35,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,3.19,4.69

In [70]:
df_cpt1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 510350 entries, 0 to 510349
Data columns (total 15 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   description                            510350 non-null  object
 1   code_2                                 510350 non-null  int64
 2   code_2_type                            510350 non-null  object
 3   setting                                510350 non-null  object
 4   standard_charge|gross                  510350 non-null  float64
 5   standard_charge|discounted_cash        510350 non-null  float64
 6   payer_name                             510350 non-null  object
 7   plan_name                              510350 non-null  object
 8   standard_charge|negotiated_dollar      510350 non-null  float64
 9   standard_charge|negotiated_percentage  510350 non-null  float64
 10  standard_charge|negotiated_algorithm   0 non-null       float64
 11  estimated_amount                       510350 non-null  int64
 12  standard_charge|methodology            510350 non-null  object
 13  standard_charge|min                    510350 non-null  float64
 14  standard_charge|max                    510350 non-null  float64
dtypes: float64(7), int64(2), object(6)
memory usage: 58.4+ MB

In [72]:
df_cpt1.isnull().sum()

description                                   0
code_2                                        0
code_2_type                                   0
setting                                       0
standard_charge|gross                         0
standard_charge|discounted_cash               0
payer_name                                    0
plan_name                                     0
standard_charge|negotiated_dollar             0
standard_charge|negotiated_percentage         0
standard_charge|negotiated_algorithm     510350
estimated_amount                              0
standard_charge|methodology                   0
standard_charge|min                           0
standard_charge|max                           0
dtype: int64

In [78]:
df_cpt1.head(100)

,description,code_2,code_2_type,setting,standard_charge|gross,standard_charge|discounted_cash,payer_name,plan_name,standard_charge|negotiated_dollar,standard_charge|negotiated_percentage,standard_charge|negotiated_algorithm,estimated_amount,standard_charge|methodology,standard_charge|min,standard_charge|max
0,PROTHROMBIN TIME-MIXING,85610,CPT,OUTPATIENT,25.00,11.25,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,5.38,6.31
1,PROTHROMBIN TIME,85610,CPT,OUTPATIENT,4.85,2.18,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,0.00,0.00
2,PROTIME LUPUS PANEL,85610,CPT,OUTPATIENT,5.82,2.62,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,5.38,5.38
3,BLOOD DRAW FEE,36415,CPT,OUTPATIENT,23.00,10.35,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,3.19,4.69
4,HOME DRAW SINGLE,36415,CPT,OUTPATIENT,23.00,10.35,COFINITY,398_COFINITY ADVANTAGE 20130101,0.0,0.0,NaN,0,PERCENT OF TOTAL BILLED CHARGES,3.19,4.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ANESTH SALIVARY GLAND,100,CPT,OUTPATIENT,0.00,0.00,MERIDIAN WELLCARE,2078_MEDICARE ADVANTAGE MERIDIAN WELLCARE OUTP...,0.0,105.0,NaN,999999999,OTHER,0.00,0.00
96,ANESTH SALIVARY GLAND,100,CPT,INPATIENT,0.00,0.00,MERIDIAN WELLCARE,2128_MEDICARE ADVANTAGE MERIDIAN WELLCARE INPA...,0.0,105.0,NaN,999999999,OTHER,0.00,0.00
97,ANESTH SALIVARY GLAND,100,CPT,OUTPATIENT,0.00,0.00,MOLINA ADVANTAGE,2081_MEDICARE ADVANTAGE MOLINA OUTPATIENT 2022...,0.0,105.0,NaN,999999999,OTHER,0.00,0.00
98,ANESTH SALIVARY GLAND,100,CPT,INPATIENT,0.00,0.00,MOLINA ADVANTAGE,2131_MEDICARE ADVANTAGE MOLINA INPATIENT 20241001,0.0,105.0,NaN,999999999,OTHER,0.00,0.00
99,ANESTH SALIVARY GLAND,100,CPT,OUTPATIENT,0.00,0.00,MOLINA HEALTH LINK,2079_MEDICARE ADVANTAGE MOLINA HEALTH LINK OUT...,0.0,105.0,NaN,999999999,OTHER,0.00,0.00

In [76]:
df_cpt1.shape

(510350, 15)

In [62]:
import pymysql
import pandas as pd
import numpy as np

# 1. First load your data properly (replace this with your actual data loading code)
# df_cpt1 = pd.read_csv('your_data.csv') or pd.read_excel('your_data.xlsx')

# 2. Check if DataFrame exists and has data
if 'df_cpt1' not in locals() or df_cpt1 is None:
    raise ValueError("DataFrame df_cpt1 is not loaded. Please load your data first.")
if len(df_cpt1) == 0:
    raise ValueError("DataFrame df_cpt1 is empty.")

# 3. Establish MySQL Connection
try:
    conn = pymysql.connect(
        host="localhost",
        user="root",
        password="ABCabc@23",
        database="health1"
    )
    cursor = conn.cursor()

    # 4. Create table if not exists
    create_table_query = """
    CREATE TABLE IF NOT EXISTS hospital_charges_MI_HFW (
        description TEXT,
        code_2 VARCHAR(255),
        code_2_type VARCHAR(255),
        standard_charge_gross FLOAT,
        standard_charge_discounted_cash FLOAT,
        payer_name VARCHAR(255),
        plan_name VARCHAR(255),
        standard_charge_negotiated_dollar FLOAT,
        standard_charge_negotiated_percentage FLOAT,
        standard_charge_negotiated_algorithm TEXT,
        estimated_amount FLOAT,
        standard_charge_min FLOAT,
        standard_charge_max FLOAT,
        standard_charge_methodology TEXT
    );
    """
    cursor.execute(create_table_query)
    conn.commit()
    print("Table created successfully!")

    # 5. Map your actual column names to expected names
    # Print current columns to help create the mapping
    print("Current columns in DataFrame:", df_cpt1.columns.tolist())
    
    # Example mapping - ADJUST THIS TO MATCH YOUR ACTUAL DATA
    column_mapping = {
        'description': 'description',
        'code|2': 'code_2',
        'code|2|type': 'code_2_type',
        'gross_charge': 'standard_charge_gross',
        'discounted_cash': 'standard_charge_discounted_cash',
        'payer': 'payer_name',
        'plan': 'plan_name',
        'negotiated_rate': 'standard_charge_negotiated_dollar',
        'negotiated_percent': 'standard_charge_negotiated_percentage',
        'algorithm': 'standard_charge_negotiated_algorithm',
        'estimated': 'estimated_amount',
        'min_rate': 'standard_charge_min',
        'max_rate': 'standard_charge_max',
        'method': 'standard_charge_methodology'
    }
    
    # Rename columns
    df_cpt1 = df_cpt1.rename(columns=column_mapping)

    # 6. Define required columns
    required_columns = [
        'description', 'code_2', 'code_2_type', 'standard_charge_gross',
        'standard_charge_discounted_cash', 'payer_name', 'plan_name',
        'standard_charge_negotiated_dollar', 'standard_charge_negotiated_percentage',
        'standard_charge_negotiated_algorithm', 'estimated_amount',
        'standard_charge_min', 'standard_charge_max', 'standard_charge_methodology'
    ]

    # 7. Check for missing columns
    missing_columns = [col for col in required_columns if col not in df_cpt1.columns]
    if missing_columns:
        print("Warning: Missing columns will be filled with NULL:", missing_columns)
        for col in missing_columns:
            df_cpt1[col] = None

    # 8. Select and prepare data
    df_cpt1 = df_cpt1[required_columns].replace({np.nan: None})

    # 9. Insert data
    column_names = ", ".join([f"`{col}`" for col in required_columns])
    placeholders = ", ".join(["%s"] * len(required_columns))
    insert_query = f"INSERT INTO hospital_charges_MI_HFW ({column_names}) VALUES ({placeholders})"

    batch_size = 1000
    total_rows = len(df_cpt1)
    
    for i in range(0, total_rows, batch_size):
        batch = df_cpt1.iloc[i:i + batch_size]
        cursor.executemany(insert_query, batch.values.tolist())
        conn.commit()
        print(f"Inserted rows {i} to {min(i + batch_size, total_rows)}")

    print(f"Successfully inserted {total_rows} records!")

except Exception as e:
    print(f"Error occurred: {str(e)}")
    if 'conn' in locals():
        conn.rollback()
finally:
    if 'cursor' in locals():
        cursor.close()
    if 'conn' in locals():
        conn.close()

Table created successfully!
Current columns in DataFrame: ['description', 'code_2', 'code_2_type', 'standard_charge_gross', 'standard_charge_discounted_cash', 'payer_name', 'plan_name', 'standard_charge_negotiated_dollar', 'standard_charge_negotiated_percentage', 'standard_charge_negotiated_algorithm', 'estimated_amount', 'standard_charge_min', 'standard_charge_max', 'standard_charge_methodology']
Inserted rows 0 to 1000
Inserted rows 1000 to 2000
Inserted rows 2000 to 3000
Inserted rows 3000 to 4000
Inserted rows 4000 to 5000
Inserted rows 5000 to 6000
Inserted rows 6000 to 7000
Inserted rows 7000 to 8000
Inserted rows 8000 to 9000
Inserted rows 9000 to 10000
Inserted rows 10000 to 11000
Inserted rows 11000 to 12000
Inserted rows 12000 to 13000
Inserted rows 13000 to 14000
Inserted rows 14000 to 15000
Inserted rows 15000 to 16000
Inserted rows 16000 to 17000
Inserted rows 17000 to 18000
Inserted rows 18000 to 19000
Inserted rows 19000 to 20000
Inserted rows 20000 to 21000
Inserted rows 21000 to 22000
Inserted rows 22000 to 23000
Inserted rows 23000 to 24000
Inserted rows 24000 to 25000
Inserted rows 25000 to 26000
Inserted rows 26000 to 27000
Inserted rows 27000 to 28000
Inserted rows 28000 to 29000
Inserted rows 29000 to 30000
Inserted rows 30000 to 31000
Inserted rows 31000 to 32000
Inserted rows 32000 to 33000
Inserted rows 33000 to 34000
Inserted rows 34000 to 35000
Inserted rows 35000 to 36000
Inserted rows 36000 to 37000
Inserted rows 37000 to 38000
Inserted rows 38000 to 39000
Inserted rows 39000 to 40000
Inserted rows 40000 to 41000
Inserted rows 41000 to 42000
Inserted rows 42000 to 43000
Inserted rows 43000 to 44000
Inserted rows 44000 to 45000
Inserted rows 45000 to 46000
Inserted rows 46000 to 47000
Inserted rows 47000 to 48000
Inserted rows 48000 to 49000
Inserted rows 49000 to 50000
Inserted rows 50000 to 51000
Inserted rows 51000 to 52000
Inserted rows 52000 to 53000
Inserted rows 53000 to 54000
Inserted rows 54000 to 55000
Inserted rows 55000 to 56000
Inserted rows 56000 to 57000
Inserted rows 57000 to 58000
Inserted rows 58000 to 59000
Inserted rows 59000 to 60000
Inserted rows 60000 to 61000
Inserted rows 61000 to 62000
Inserted rows 62000 to 63000
Inserted rows 63000 to 64000
Inserted rows 64000 to 65000
Inserted rows 65000 to 66000
Inserted rows 66000 to 67000
Inserted rows 67000 to 68000
Inserted rows 68000 to 69000
Inserted rows 69000 to 70000
Inserted rows 70000 to 71000
Inserted rows 71000 to 72000
Inserted rows 72000 to 73000
Inserted rows 73000 to 74000
Inserted rows 74000 to 75000
Inserted rows 75000 to 76000
Inserted rows 76000 to 77000
Inserted rows 77000 to 78000
Inserted rows 78000 to 79000
Inserted rows 79000 to 80000
Inserted rows 80000 to 81000
Inserted rows 81000 to 82000
Inserted rows 82000 to 83000
Inserted rows 83000 to 84000
Inserted rows 84000 to 85000
Inserted rows 85000 to 86000
Inserted rows 86000 to 87000
Inserted rows 87000 to 88000
Inserted rows 88000 to 89000
Inserted rows 89000 to 90000
Inserted rows 90000 to 91000
Inserted rows 91000 to 92000
Inserted rows 92000 to 93000
Inserted rows 93000 to 94000
Inserted rows 94000 to 95000
Inserted rows 95000 to 96000
Inserted rows 96000 to 97000
Inserted rows 97000 to 98000
Inserted rows 98000 to 99000
Inserted rows 99000 to 100000
Inserted rows 100000 to 101000
Inserted rows 101000 to 102000
Inserted rows 102000 to 103000
Inserted rows 103000 to 104000
Inserted rows 104000 to 105000
Inserted rows 105000 to 106000
Inserted rows 106000 to 107000
Inserted rows 107000 to 108000
Inserted rows 108000 to 109000
Inserted rows 109000 to 110000
Inserted rows 110000 to 111000
Inserted rows 111000 to 112000
Inserted rows 112000 to 113000
Inserted rows 113000 to 114000
Inserted rows 114000 to 115000
Inserted rows 115000 to 116000
Inserted rows 116000 to 117000
Inserted rows 117000 to 118000
Inserted rows 118000 to 119000
Inserted rows 119000 to 120000
Inserted rows 120000 to 121000
Inserted rows 121000 to 122000
Inserted rows 122000 to 123000
Inserted rows 123000 to 124000
Inserted rows 124000 to 125000
Inserted rows 125000 to 126000
Inserted rows 126000 to 127000
Inserted rows 127000 to 128000
Inserted rows 128000 to 129000
Inserted rows 129000 to 130000
Inserted rows 130000 to 131000
Inserted rows 131000 to 132000
Inserted rows 132000 to 133000
Inserted rows 133000 to 134000
Inserted rows 134000 to 135000
Inserted rows 135000 to 136000
Inserted rows 136000 to 137000
Inserted rows 137000 to 138000
Inserted rows 138000 to 139000
Inserted rows 139000 to 140000
Inserted rows 140000 to 141000
Inserted rows 141000 to 142000
Inserted rows 142000 to 143000
Inserted rows 143000 to 144000
Inserted rows 144000 to 145000
Inserted rows 145000 to 146000
Inserted rows 146000 to 147000
Inserted rows 147000 to 148000
Inserted rows 148000 to 149000
Inserted rows 149000 to 150000
Inserted rows 150000 to 151000
Inserted rows 151000 to 152000
Inserted rows 152000 to 153000
Inserted rows 153000 to 154000
Inserted rows 154000 to 155000
Inserted rows 155000 to 156000
Inserted rows 156000 to 157000
Inserted rows 157000 to 158000
Inserted rows 158000 to 159000
Inserted rows 159000 to 160000
Inserted rows 160000 to 161000
Inserted rows 161000 to 162000
Inserted rows 162000 to 163000
Inserted rows 163000 to 164000
Inserted rows 164000 to 165000
Inserted rows 165000 to 166000
Inserted rows 166000 to 167000
Inserted rows 167000 to 168000
Inserted rows 168000 to 169000
Inserted rows 169000 to 170000
Inserted rows 170000 to 171000
Inserted rows 171000 to 172000
Inserted rows 172000 to 173000
Inserted rows 173000 to 174000
Inserted rows 174000 to 175000
Inserted rows 175000 to 176000
Inserted rows 176000 to 177000
Inserted rows 177000 to 178000
Inserted rows 178000 to 179000
Inserted rows 179000 to 180000
Inserted rows 180000 to 181000
Inserted rows 181000 to 182000
Inserted rows 182000 to 183000
Inserted rows 183000 to 184000
Inserted rows 184000 to 185000
Inserted rows 185000 to 186000
Inserted rows 186000 to 187000
Inserted rows 187000 to 188000
Inserted rows 188000 to 189000
Inserted rows 189000 to 190000
Inserted rows 190000 to 191000
Inserted rows 191000 to 192000
Inserted rows 192000 to 193000
Inserted rows 193000 to 194000
Inserted rows 194000 to 195000
Inserted rows 195000 to 196000
Inserted rows 196000 to 197000
Inserted rows 197000 to 198000
Inserted rows 198000 to 199000
Inserted rows 199000 to 200000
Inserted rows 200000 to 201000
Inserted rows 201000 to 202000
Inserted rows 202000 to 203000
Inserted rows 203000 to 204000
Inserted rows 204000 to 205000
Inserted rows 205000 to 206000
Inserted rows 206000 to 207000
Inserted rows 207000 to 208000
Inserted rows 208000 to 209000
Inserted rows 209000 to 210000
Inserted rows 210000 to 211000
Inserted rows 211000 to 212000
Inserted rows 212000 to 213000
Inserted rows 213000 to 214000
Inserted rows 214000 to 215000
Inserted rows 215000 to 216000
Inserted rows 216000 to 217000
Inserted rows 217000 to 218000
Inserted rows 218000 to 219000
Inserted rows 219000 to 220000
Inserted rows 220000 to 221000
Inserted rows 221000 to 222000
Inserted rows 222000 to 223000
Inserted rows 223000 to 224000
Inserted rows 224000 to 225000
Inserted rows 225000 to 226000
Inserted rows 226000 to 227000
Inserted rows 227000 to 228000
Inserted rows 228000 to 229000
Inserted rows 229000 to 230000
Inserted rows 230000 to 231000
Inserted rows 231000 to 232000
Inserted rows 232000 to 233000
Inserted rows 233000 to 234000
Inserted rows 234000 to 235000
Inserted rows 235000 to 236000
Inserted rows 236000 to 237000
Inserted rows 237000 to 238000
Inserted rows 238000 to 239000
Inserted rows 239000 to 240000
Inserted rows 240000 to 241000
Inserted rows 241000 to 242000
Inserted rows 242000 to 243000
Inserted rows 243000 to 244000
Inserted rows 244000 to 245000
Inserted rows 245000 to 246000
Inserted rows 246000 to 247000
Inserted rows 247000 to 248000
Inserted rows 248000 to 249000
Inserted rows 249000 to 250000
Inserted rows 250000 to 251000
Inserted rows 251000 to 252000
Inserted rows 252000 to 253000
Inserted rows 253000 to 254000
Inserted rows 254000 to 255000
Inserted rows 255000 to 256000
Inserted rows 256000 to 257000
Inserted rows 257000 to 258000
Inserted rows 258000 to 259000
Inserted rows 259000 to 260000
Inserted rows 260000 to 261000
Inserted rows 261000 to 262000
Inserted rows 262000 to 263000
Inserted rows 263000 to 264000
Inserted rows 264000 to 265000
Inserted rows 265000 to 266000
Inserted rows 266000 to 267000
Inserted rows 267000 to 268000
Inserted rows 268000 to 269000
Inserted rows 269000 to 270000
Inserted rows 270000 to 271000
Inserted rows 271000 to 272000
Inserted rows 272000 to 273000
Inserted rows 273000 to 274000
Inserted rows 274000 to 275000
Inserted rows 275000 to 276000
Inserted rows 276000 to 277000
Inserted rows 277000 to 278000
Inserted rows 278000 to 279000
Inserted rows 279000 to 280000
Inserted rows 280000 to 281000
Inserted rows 281000 to 282000
Inserted rows 282000 to 283000
Inserted rows 283000 to 284000
Inserted rows 284000 to 285000
Inserted rows 285000 to 286000
Inserted rows 286000 to 287000
Inserted rows 287000 to 288000
Inserted rows 288000 to 289000
Inserted rows 289000 to 290000
Inserted rows 290000 to 291000
Inserted rows 291000 to 292000
Inserted rows 292000 to 293000
Inserted rows 293000 to 294000
Inserted rows 294000 to 295000
Inserted rows 295000 to 296000
Inserted rows 296000 to 297000
Inserted rows 297000 to 298000
Inserted rows 298000 to 299000
Inserted rows 299000 to 300000
Inserted rows 300000 to 301000
Inserted rows 301000 to 302000
Inserted rows 302000 to 303000
Inserted rows 303000 to 304000
Inserted rows 304000 to 305000
Inserted rows 305000 to 306000
Inserted rows 306000 to 307000
Inserted rows 307000 to 308000
Inserted rows 308000 to 309000
Inserted rows 309000 to 310000
Inserted rows 310000 to 311000
Inserted rows 311000 to 312000
Inserted rows 312000 to 313000
Inserted rows 313000 to 314000
Inserted rows 314000 to 315000
Inserted rows 315000 to 316000
Inserted rows 316000 to 317000
Inserted rows 317000 to 318000
Inserted rows 318000 to 319000
Inserted rows 319000 to 320000
Inserted rows 320000 to 321000
Inserted rows 321000 to 322000
Inserted rows 322000 to 323000
Inserted rows 323000 to 324000
Inserted rows 324000 to 325000
Inserted rows 325000 to 326000
Inserted rows 326000 to 327000
Inserted rows 327000 to 328000
Inserted rows 328000 to 329000
Inserted rows 329000 to 330000
Inserted rows 330000 to 331000
Inserted rows 331000 to 332000
Inserted rows 332000 to 333000
Inserted rows 333000 to 334000
Inserted rows 334000 to 335000
Inserted rows 335000 to 336000
Inserted rows 336000 to 337000
Inserted rows 337000 to 338000
Inserted rows 338000 to 339000
Inserted rows 339000 to 340000
Inserted rows 340000 to 341000
Inserted rows 341000 to 342000
Inserted rows 342000 to 343000
Inserted rows 343000 to 344000
Inserted rows 344000 to 345000
Inserted rows 345000 to 346000
Inserted rows 346000 to 347000
Inserted rows 347000 to 348000
Inserted rows 348000 to 349000
Inserted rows 349000 to 350000
Inserted rows 350000 to 351000
Inserted rows 351000 to 352000
Inserted rows 352000 to 353000
Inserted rows 353000 to 354000
Inserted rows 354000 to 355000
Inserted rows 355000 to 356000
Inserted rows 356000 to 357000
Inserted rows 357000 to 358000
Inserted rows 358000 to 359000
Inserted rows 359000 to 360000
Inserted rows 360000 to 361000
Inserted rows 361000 to 362000
Inserted rows 362000 to 363000
Inserted rows 363000 to 364000
Inserted rows 364000 to 365000
Inserted rows 365000 to 366000
Inserted rows 366000 to 367000
Inserted rows 367000 to 368000
Inserted rows 368000 to 369000
Inserted rows 369000 to 370000
Inserted rows 370000 to 371000
Inserted rows 371000 to 372000
Inserted rows 372000 to 373000
Inserted rows 373000 to 374000
Inserted rows 374000 to 375000
Inserted rows 375000 to 376000
Inserted rows 376000 to 377000
Inserted rows 377000 to 378000
Inserted rows 378000 to 379000
Inserted rows 379000 to 380000
Inserted rows 380000 to 381000
Inserted rows 381000 to 382000
Inserted rows 382000 to 383000
Inserted rows 383000 to 384000
Inserted rows 384000 to 385000
Inserted rows 385000 to 386000
Inserted rows 386000 to 387000
Inserted rows 387000 to 388000
Inserted rows 388000 to 389000
Inserted rows 389000 to 390000
Inserted rows 390000 to 391000
Inserted rows 391000 to 392000
Inserted rows 392000 to 393000
Inserted rows 393000 to 394000
Inserted rows 394000 to 395000
Inserted rows 395000 to 396000
Inserted rows 396000 to 397000
Inserted rows 397000 to 398000
Inserted rows 398000 to 399000
Inserted rows 399000 to 400000
Inserted rows 400000 to 401000
Inserted rows 401000 to 402000
Inserted rows 402000 to 403000
Inserted rows 403000 to 404000
Inserted rows 404000 to 405000
Inserted rows 405000 to 406000
Inserted rows 406000 to 407000
Inserted rows 407000 to 408000
Inserted rows 408000 to 409000
Inserted rows 409000 to 410000
Inserted rows 410000 to 411000
Inserted rows 411000 to 412000
Inserted rows 412000 to 413000
Inserted rows 413000 to 414000
Inserted rows 414000 to 415000
Inserted rows 415000 to 416000
Inserted rows 416000 to 417000
Inserted rows 417000 to 418000
Inserted rows 418000 to 419000
Inserted rows 419000 to 420000
Inserted rows 420000 to 421000
Inserted rows 421000 to 422000
Inserted rows 422000 to 423000
Inserted rows 423000 to 424000
Inserted rows 424000 to 425000
Inserted rows 425000 to 426000
Inserted rows 426000 to 427000
Inserted rows 427000 to 428000
Inserted rows 428000 to 429000
Inserted rows 429000 to 430000
Inserted rows 430000 to 431000
Inserted rows 431000 to 432000
Inserted rows 432000 to 433000
Inserted rows 433000 to 434000
Inserted rows 434000 to 435000
Inserted rows 435000 to 436000
Inserted rows 436000 to 437000
Inserted rows 437000 to 438000
Inserted rows 438000 to 439000
Inserted rows 439000 to 440000
Inserted rows 440000 to 441000
Inserted rows 441000 to 442000
Inserted rows 442000 to 443000
Inserted rows 443000 to 444000
Inserted rows 444000 to 445000
Inserted rows 445000 to 446000
Inserted rows 446000 to 447000
Inserted rows 447000 to 448000
Inserted rows 448000 to 449000
Inserted rows 449000 to 450000
Inserted rows 450000 to 451000
Inserted rows 451000 to 452000
Inserted rows 452000 to 453000
Inserted rows 453000 to 454000
Inserted rows 454000 to 455000
Inserted rows 455000 to 456000
Inserted rows 456000 to 457000
Inserted rows 457000 to 458000
Inserted rows 458000 to 459000
Inserted rows 459000 to 460000
Inserted rows 460000 to 461000
Inserted rows 461000 to 462000
Inserted rows 462000 to 463000
Inserted rows 463000 to 464000
Inserted rows 464000 to 465000
Inserted rows 465000 to 466000
Inserted rows 466000 to 467000
Inserted rows 467000 to 468000
Inserted rows 468000 to 469000
Inserted rows 469000 to 470000
Inserted rows 470000 to 471000
Inserted rows 471000 to 472000
Inserted rows 472000 to 473000
Inserted rows 473000 to 474000
Inserted rows 474000 to 475000
Inserted rows 475000 to 476000
Inserted rows 476000 to 477000
Inserted rows 477000 to 478000
Inserted rows 478000 to 479000
Inserted rows 479000 to 480000
Inserted rows 480000 to 481000
Inserted rows 481000 to 482000
Inserted rows 482000 to 483000
Inserted rows 483000 to 484000
Inserted rows 484000 to 485000
Inserted rows 485000 to 486000
Inserted rows 486000 to 487000
Inserted rows 487000 to 488000
Inserted rows 488000 to 489000
Inserted rows 489000 to 490000
Inserted rows 490000 to 491000
Inserted rows 491000 to 492000
Inserted rows 492000 to 493000
Inserted rows 493000 to 494000
Inserted rows 494000 to 495000
Inserted rows 495000 to 496000
Inserted rows 496000 to 497000
Inserted rows 497000 to 498000
Inserted rows 498000 to 499000
Inserted rows 499000 to 500000
Inserted rows 500000 to 501000
Inserted rows 501000 to 502000
Inserted rows 502000 to 503000
Inserted rows 503000 to 504000
Inserted rows 504000 to 505000
Inserted rows 505000 to 506000
Inserted rows 506000 to 507000
Inserted rows 507000 to 508000
Inserted rows 508000 to 509000
Inserted rows 509000 to 510000
Inserted rows 510000 to 510350
Successfully inserted 510350 records!